<%- include("partials/header")-%>

    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
        <label >Title</label>
        <input class="form-control" type="text" name="postTitle" ></input>
        <label >Post</label>
        <textarea class="form-control" name="postBody" id="" cols="100" rows="8"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

    <%- include("partials/footer")-%>